{% extends 'base.html.twig' %}
{% block left%}
    <div class="w3-container ">
    </div>
    </div>
{% endblock %}
{% block right %}
{% endblock %}

    {% block middle %}
        {% if user %}
            <div class="w3-card w3-white w3-round w3-margin"><br>
                <center>Congratulation you successefuly confirm account.<br><br> You can now click <a href="{{ path("security_login") }}">here</a> to go to login page.</center><br>
            </div>
        {% else %}
            <div class="w3-card w3-white w3-round w3-margin"><br>
                <center> Something went wrong. Check your email.</center><br>
            </div>
        {% endif %}
    {% endblock %}
{% block footer %} {% endblock %}