{% extends 'base.html.twig' %}
{% block left%}
    <div class="w3-container ">
    </div>
    </div>
{% endblock %}
{% block right %}
{% endblock %}
    {% block middle %}
{% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey }}
            </div>
        {% endif %}
    <form method="POST" action="{{ path("security_login")}}" class="form-signin">
        <label for="username" class="sr-only form-control">Username</label>
        <input type="text" name="_username" id="inputUsername" class="form-control" placeholder="Username" required autofocus><br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Password" required><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect') }}">
    </form>
        <div id="mobile-login-message">
            <p>if you do not have account use one of demo accounts:</p>
            <p><u>username:</u> john</p>
            <p><u>password:</u> john123</p>
            <p>-----------------------</p>
            <p><u>username:</u> smith</p>
            <p><u>password:</u> smith123</p>
        </div>

{% endblock %}
{% block footer %} {% endblock %}