{% extends 'base.html.twig' %}

{% block left%}
    <div class="w3-container ">
    </div>
    </div>
{% endblock %}
{% block right %}
    <div class="w3-card w3-round w3-white w3-center">
    </div>
{% endblock %}

{% block middle %}
<div class="w3-container w3-card w3-white w3-round w3-margin">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
{% block footer %}{% endblock %}