{% extends 'base.html.twig' %}

{% block left%}
    <div class="w3-container ">
    </div>
    </div>
{% endblock %}
{% block right %}
{% endblock %}

{% block middle %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block footer %}{% endblock %}