{% extends 'base.html.twig' %}
{% block left%}
    <div class="w3-container ">
    </div>
    </div>
{% endblock %}
{% block right %}
{% endblock %}

{% block middle %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="accordion" id="accordionExample">
            <div class="" id="headingOne">
                <h2 class="mb-0">
                    <button id="terms-of-service" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        >>> Terms of Service <<<
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card">
                <div class="card-body" id="terms-of-service-text">
                    After registration you must confirm your account by clicking on link that will be send to your e-mail address.
                    Becouse this is demo app, mail will not be send to your email adress. Mail will be send to fake inbox on
                    <a href="https://mailtrap.io/signin">this</a> address.
                    You must access to that inbox with this credentials: Email: <u>srckokuzmanovic@yahoo.com</u>, Password: <u>srkoman</u>.
                    After that open the mail in inbox and clck on link for confirmation.
                </div>
                </div>
            </div>
{% endblock %}
{% block footer %}{% endblock %}
