{% extends 'base.html.twig' %}
{% block left%}
    <div class="w3-container ">
    </div>
    </div>
{% endblock %}
{% block right %}
{% endblock %}

{% block middle %}
    <center><h1>You broke the internet</h1></center>
<center><p>{{ status_code }} {{ status_text }}</p></center>
    {% endblock %}
{% block footer %}{% endblock %}