{% extends 'base.html.twig' %}
{% block left%}
    <div class="w3-container ">
    </div>
    </div>
{% endblock %}
{% block right %}
{% endblock %}

{% block middle %}
    <img id="error-image" src="{{ asset("images/error.png") }}">
    {% endblock %}
{% block footer %}{% endblock %}
