
<div class="w3-card-4">

    <header class="w3-container w3-blue">
        <h1>Welcome</h1>
    </header>

    <div class="w3-container">
        <p>Hello {{ user.fullName }}. You are registered into the app!</p>
        <p>Please confirm acconut by clicking this <a href="{{ url("confirmation_link", {'token': user.confirmationToken}) }}"> link</a>
        <br><br>
        <p>Note that this app is stil in progres. Soon more functionality will be add:</p>
        <p>better mobile design</p>
        <p>better email template</p>
        <p>comments</p>
        <p>pagination</p>
        <p>file upload</p>
        <p>chat</p>
    </div>


</div>